<div class="left">
  <h1>{{#linkTo 'index'}} Go Back {{/linkTo}}</h1>
  <ul id="items">
    {{#each model}}
      <li id="{{id}}">{{#linkTo 'item' this}}{{name}}{{/linkTo}}</li>
    {{/each}}
  </ul>
</div>

<div id="item" class="right">
  {{outlet}}
</div>
